<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innovation.demo.mapper.QuestionnaireMapper">

    <insert id="save">
        INSERT INTO questionnaire(sex,age,job,salary,experience,activities,hoping,buy,types,know,spend,collection,advice,birth )
         VALUES (#{sex},#{age},#{job},#{salary},#{experience},#{activities},#{hoping},#{buy},#{types},#{know},#{spend},#{collection},#{advice},#{birth})
    </insert>

    <select id="find_all" resultType="java.util.Map">
        select *from service_innovation.questionnaire
    </select>

</mapper>
